packages: [
  "angularjs"
  "angularjs-snippets"
  "atom-beautify"
  "atom-bootstrap3"
  "atom-html-preview"
  "atom-terminal"
  "batman-syntax"
  "bootstrap-3-snippetset"
  "codeigniter"
  "color-picker"
  "docblockr"
  "emmet"
  "file-icons"
  "git-control"
  "git-plus"
  "jshint"
  "linter"
  "linter-htmlhint"
  "linter-js-standard"
  "linter-php"
  "merge-conflicts"
  "minimap"
  "package-sync"
  "php-twig"
  "terminal-syntax"
]
